body {
    background-color: black;
}

h1 {
    color: #999;
    font-family: 'Fredericka the Great', cursive;
    font-size: 62px;
    font-strech: ultra-expanded;
    text-align: center;
}

.terminal {
  color: #FF9500;
  background-color: #222;
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #FF9500;
  font-family: FreeMono, monospace;
  font-size: 14px;
  box-sizing: border-box;
  height: 300px;
}

  .terminal .content {
      overflow-y: auto;
      height: 100%;
      
  }

  .terminal .line {
    height: 20px;
    display: inline-table;
    width: 100%;
  }

  .terminal .prefix {
    display: table-cell;
    width: 0px;
  }
  
  .terminal .cmd{
    display: table-cell;
    width: 100%;
    color: inherit;
    padding-left: 10px;
    background-color: inherit;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    border: none;
    white-space: pre;
  }

  .terminal .white {
      color: white;
  }