.terminal {
  color: #FF9500;
  background-color: #222;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #FF9500;
  font-family: FreeMono, monospace;
  font-size: 14px;
  box-sizing: border-box;
}

  .terminal .content {
      overflow-y: scroll;
      height: 300px;
  }

  .terminal .line {
    height: 20px;
    display: inline-table;
    width: 100%;
  }

  .terminal .prefix {
    display: table-cell;
    width: 0px;
  }
  
  .terminal .cmd{
    display: table-cell;
    width: 100%;
    color: inherit;
    padding-left: 10px;
    background-color: inherit;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    border: none;
  }

  .terminal .white {
      color: white;
  }